body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.status-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 55pt;
}

.content {
  margin: 55pt 0 56pt 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}




.content > .top-navbar {
  width: 100%;
  height: 50pt;
  display: flex;
  align-items: center;
}

.top-navbar > svg {
  width: 24px;
  height: 24px;
  margin: 6pt;
}

.top-navbar > h2 {
  margin: 0;
  padding: 12pt 16pt;
  font-weight: 500;
  font-size: 16px;
  flex: 1;
  text-align: center;
}



.bottom-tabbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56pt;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 20px;
  /*border*/
  
}

.btabbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  color: #999;
}


.btabbar-item.active {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.btabbar-item > h6 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.space-bottom{
  margin-bottom: 20px;
}

.container{
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.h3{
  margin-right: 50px;
}