<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-comidas" href="/tabs/mis-comidas">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Mis Comidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="actividad-fisica" href="/tabs/actividad-fisica">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Actividad Física</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-perfil" href="/tabs/mi-perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
