<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de estado -->
  <div class="status-bar"></div>

  <div class="content">

    <!-- Titulo y barra separadora -->
    <div class="container mt-3">
      <h2>Información personal</h2>
      <ion-item-divider></ion-item-divider>
    </div>

    <!-- Tabla de informacion -->
    <div class="container">
      <ion-grid class="styled-table">
        <ion-row>
          <ion-col>
            <ion-icon name="resize-outline"></ion-icon>
          </ion-col>
          <ion-col>Altura</ion-col>
          <ion-col>1,75 m</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="barbell-outline"></ion-icon>
          </ion-col>
          <ion-col>Peso</ion-col>
          <ion-col>75 kg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="fitness-outline"></ion-icon>
          </ion-col>
          <ion-col>IMC</ion-col>
          <ion-col>21</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="people-outline"></ion-icon>
          </ion-col>
          <ion-col>Edad</ion-col>
          <ion-col>25</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-col>
          <ion-col>Estado</ion-col>
          <ion-col>Saludable</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- Boton Ajustes de cuenta -->
    <div class="container mb-3">
      <ion-button expand="full" href="" color="dark">Ajustes de cuenta</ion-button>
    </div>
  </div>

</ion-content>

